# === ANDROID ===
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/

# === OS ===
Thumbs.db
desktop.ini

# === LOGS ===
*.log

# === ANDROID STUDIO ===
.cache/
*.hprof

# === NDK/CMake ===
.cmake/
*.so
obj/
